.item1 { grid-area: logo; }
.item2 { grid-area: temp; }
.item3 { grid-area: minmax; }
.item4 { grid-area: humidity; }
.item5 { grid-area: forecast; }

.grid-container {
  display: grid;
  grid-template-areas:
    'logo logo temp temp minmax'
    'logo logo humidity humidity minmax'
    'logo logo humidity humidity minmax'
    'forecast forecast forecast forecast forecast';
  gap: 10px;
  background-color: #ffffff00;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(0,0, 0, 0);
  padding: 20px 0;
  font-size: 60px;
}